.footer {
    background-color: #E4564E;
    padding: 2% 10%;
    position: relative;
    margin-top: 200px;
}

.nav-footer{
    position: relative;
    z-index: 1;
}

.nav-footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-footer ul li {
    width: 20%;
}

.nav-footer span {
    width: 100%;
    text-align: left;
}

.nav-footer a {
    color: white;
    text-decoration: none;
    font-family: 'Neo Sans Pro black', Arial, Helvetica, sans-serif;

}
.second-nav-footer ul li a .menu-image {
    display: none;
}

.second-footer {
    display: flex;
    width: 100%;
}

.second-nav-footer {
    width: 20%;
}

.second-nav-footer ul{
    width: 100%;
    flex-direction: column;
}
.second-nav-footer ul li{
    width: 100%;
    flex-direction: column;
    padding: 5px 0;

}

.second-nav-footer ul li a {
    font-family: 'Neo Sans Pro', Arial, Helvetica, sans-serif;
}

.second-nav-footer .menu-image-title-below{
    text-align: left;
}

.bg-logo{
    /* background-color: green; */
    width: 20%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-image: url('./../assets/illustrations/footer.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.footer p{
    color: white;
    margin-top: 50px;
}

.menu-login-container ul li a{
    color: #E4564E !important;
}