*{
    margin: 0;
    padding: 0;
    font-family: 'Neo Sans Pro', Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

html {
    width: 100%;
    margin-top: 0 !important;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

.background-image {
    z-index: -1;
    position: absolute;
    bottom: 5%;
    right: 0;
    height: 70%;
}

.container {
    width: 100vw;
    height: 100vh;
}

.block-container{
    width: 100%;
    padding: 0 10%;
    height: auto;
    line-height: 30px;
}

.scroll {
    height: 100px;
}

/* boxen */

.box {
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342) ;
    margin-bottom: 50px;
    padding: 5%;
    line-height: 25px;
    font-size: 16px;
}


.box img{
    position: relative;
    top:-100px;
    float: right;
    max-width: 50%;
    max-height: 40%;
    padding: 0 5%;
}

.background {
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:  100% 100%; 
    padding: 5% 10%;
    margin-bottom: 30px;
    height: auto;
}

/* link color box */
.download-blue {
    background-color: #0AABCD;
}

.download-orange {
    background-color: #F9B000;
}

.download-red {
    background-color: #E4564E;
}

/* multiple images in the green box*/
.box .second-green-img{
    margin: 0;
    padding: 0 5% ;
    top: 0;
    float: left;
}

.head{
    margin-left: 10%;
    width: 60%;
}

.head p {
    font-family: 'Neo Sans Pro black', Arial, Helvetica, sans-serif;
    color: #4B4B4B;
    line-height: 20px;
    font-size: 15px;
}

/* center */
.flex {
    display: flex;
    align-items: center;
}

.background-icoon{
    position: absolute;
    right: 10%;
    width: 30%;
    top: 20%;
}

/* red container */

.red-container {
    font-size: 15px;
    line-height: 25px;
}

.red-container h3 {
    color: #E4564E;
    margin-bottom: 20px;
}

.red-container > p {
    column-count: 2;
    line-height: 25px;
}

.red-container br {
    line-height: 30px;
    content: "";
    display: block;
    margin-bottom: 30px;
}

.red-container img {
    float: right;
    width: 50%;
}

.red-container > div {
    margin-bottom: 80px;
}

/* 2 columns */
.column{
    column-count: 2;
}

.column h2, .column h3 {
    column-span: all;
}

/* ---- */

.gallery-item, .gallery-item>dt{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: none;
}

.attachment-medium, .attachment-thumbnail{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: none;

}

.margin-left{
    margin-left: 10%;
}
.margin-top{
    margin-top: 10%;
}

/* block without Content */

.block-none-box{
    /* background-color: red; */
}

.block-none-box img {
    width: 30%;
}

/* hashtag */

.hashtag{
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.hashtag a {
    text-decoration: none;
}

.hashtag:hover{
    font-size: 20px;
}

/* sidebar */

.sidebar{
    position: fixed;
    -webkit-transform: rotate(-90deg);
    transform-origin: 250px 200px;
    color: #E4564E;
    display: flex;
}

.sidebar a {
    color: #E4564E;
}

/* volzet */

.volzet{
    background-color: #E4564E;
    width: 200px;
    text-align: center;
    padding: 10px 0;
    border: white solid 20px;
    border-radius: 50px;
    position: absolute;
    right: 5%;
    color: white;
    /* margin-top: -200px; */
}