.tools{
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 7%;
}

.tools div {
    /* background-color: brown; */
    width: 16%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.toolbox {
    background-color: #E4564E;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.comment{
    width: 90%;
    color: #E4564E;
}
/* 
.vertical-bar{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: absolute;
} */