.video-container {
    position: relative
}

.videos {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.video-container:nth-child(odd) .videos{
    flex-direction: row-reverse;
}
.video-container:nth-child(odd) .videos .video{
    flex-direction: row-reverse;
}
.video-container:nth-child(odd) .videos .green-line-vertical{
    right: 27.5%;
}
.video-container:nth-child(even) .videos .green-line-vertical{
    left: 27.5%;
}


.videos> .video {
    width: 55%;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* height: 100px; */
}

.videos div iframe{
    width: 80%;
    border-radius: 40px;
    height: 250px;
}

.video-content{
    width: 40%;
}

.fb-video{
    width: 80%;
}
.fb-video span{
    width: 80%;
}

.green-line{
    background-color: #BBCD09;
    width: 20%;
    height: 5px;
}

.green-line-vertical{
    height: 50%;
    width: 5px;
    background-color: #BBCD09;
    position: absolute;
    margin-top: -5%;
    z-index: -1;
}